.content {
    text-decoration: underline;
    text-decoration-color: darkslateblue;
}

.content img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

span {
    margin-top: -2rem;
}

.forLikes {
    width: 100%;
    text-align: right;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.oldPost {
    margin: auto 0;
    outline: gold;
    text-decoration: gold;
    border-bottom: 1px gold;
}
