.content {
    text-decoration: underline;
    text-decoration-color: darkslateblue;
}

.content img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

span {
    margin-top: -2rem;
}

.forLikes {
    width: 100%;
    text-align: right;
    padding-right: 7rem;
