.app-wrapper {
  display: grid;
  grid-template-areas: /* как будут располагаться */
  "h h "
  "n c ";
  grid-template-rows: 60px 1fr; /* сколько строк */
  grid-template-columns: 2fr 10fr; /* сколько колонок */
  max-width: 1200px;
  margin: 0 auto;
}
