.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 5px;
}

.dialog a{
   text-decoration: none;
    color: white;
}

.messages {
    padding: 5px;
}

.message {

}

.active {
    color: gold;
}