.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 3rem 2rem;
}

.dialogsItems {
    border-right: 2px solid black;
}

.dialog a{
   text-decoration: none;
    color: black;
}

.messages {
    padding-left: 1rem;
}

.message {

}

.active {
    color: gold;
}